@model IEnumerable<deanShipOfStudents.Models.Center>

@{
    ViewBag.Title = "Index";
}

<h2>Centers</h2>

<p>
    @Html.ActionLink("Create New", "Create" , null , new {@class = "btn btn-light" })
</p>
<table class="table">
    <tr>
        <th>
            supervisor name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objective)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CenterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Objective)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CenterId }, new { @class = "btn btn-light" }) |
            @Html.ActionLink("Details", "Details", new { id=item.CenterId }, new { @class = "btn btn-light" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CenterId }, new { @class = "btn btn-light" })
        </td>
    </tr>
}

</table>
